In [1]:
## Import Dependencies

import pandas as pd
import numpy as np

In [2]:
# Import CSV File - Convert to DF and print head

csv1 =  'UnProcessed/201801-citibike-tripdata.csv'
csv2 =  'UnProcessed/201802-citibike-tripdata.csv'
csv3 =  'UnProcessed/201803-citibike-tripdata.csv'
csv4 =  'UnProcessed/201804-citibike-tripdata.csv'
csv5 =  'UnProcessed/201805-citibike-tripdata.csv'
csv6 =  'UnProcessed/201806-citibike-tripdata.csv'
csv7 =  'UnProcessed/201807-citibike-tripdata.csv'
csv8 =  'UnProcessed/201808-citibike-tripdata.csv'
csv9 =  'UnProcessed/201809-citibike-tripdata.csv'
csv10 = 'UnProcessed/201810-citibike-tripdata.csv'
csv11 = 'UnProcessed/201811-citibike-tripdata.csv'
csv12 = 'UnProcessed/201812-citibike-tripdata.csv'


data11 = pd.read_csv(csv1)
data11.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1

In [13]:
# Loop Attemp


Frames = [csv1,csv2 ,csv3 ,csv4 ,csv5 ,csv6 ,csv7 ,csv8 ,csv9 ,csv10 ,csv11 , csv12]
EndFiles = ["Bike1801.csv", "Bike1802.csv", "Bike1803.csv", "Bike1804.csv",
            "Bike1805.csv", "Bike1806.csv", "Bike1807.csv", "Bike1808.csv",
            "Bike1809.csv", "Bike1810.csv", "Bike1811.csv", "Bike1212.csv"]

for file, endF in zip(Frames, EndFiles):
    tempData = pd.read_csv(file)
    
    # Minutes
    minutes = (tempData.tripduration / 60).astype(int)
    tempData['tripduration_minutes'] = minutes
    print("minutes successful")
    # Convert gender
    conditions = [
        (tempData['gender'] == 1),
        (tempData['gender'] == 2),
        (tempData['gender'] == 0)
    ]
    choices = ['Male', 'Female', 'Unknown']
    
    tempData['gender_name'] = np.select(conditions, choices, default = 'Unknown')
    print("gender successful")
    # Age
    age = (2019 - tempData['birth year']).astype(int)
    tempData['Age'] = age
    print("age successful")
    tempData = tempData.rename(columns = {
        "tripduration_minutes" : "Trip_Duration_Minutes",
        "starttime":"Start_Time",
        "start station id":"Start_Station_ID",
        "start station name":"Start_Station_Name",
        "start station latitude":"Start_Lat",
        "start station longitude":"Start_Long",
        "end station id":"End_Station_ID",
        "end station name":"End_Station_Name",
        "end station latitude":"End_Lat",
        "end station longitude":"End_Long",
        "bikeid":"Bike_ID",
        "usertype":"User_Type",
        "age":"Age",
        "gender_name":"Gender"
        })
    print("renaming successful")
    columns_keep = [
        "Trip_Duration_Minutes",
        "Start_Time",
        "Start_Station_ID",
        "Start_Station_Name",
        "Start_Lat",
        "Start_Long",
        "End_Station_ID",
        "End_Station_Name",
        "End_Lat",
        "End_Long",
        "Bike_ID",
        "User_Type",
        "Age",
        "Gender"]
    preFinal_DF = tempData[columns_keep]
    #save file
    preFinal_DF.to_csv(f"Processed_DF/{endF}")

    
#     file = preFinal_DF.copy()
    print('file processed and saved')

minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved
minutes successful
gender successful
age successful
renaming successful
file processed and saved

In [20]:
# Make Monster CSV

csv1  =  'Processed_DF/Bike1801.csv'
DF1 = pd.read_csv(csv1)
print('File 1 Ready')

csv2  =  'Processed_DF/Bike1802.csv'
DF2 = pd.read_csv(csv2)
print('File 2 Ready')

csv3  =  'Processed_DF/Bike1803.csv'
DF3 = pd.read_csv(csv3)
print('File 3 Ready')

csv4  =  'Processed_DF/Bike1804.csv'
DF4 = pd.read_csv(csv4)
print('File 4 Ready')

csv5  =  'Processed_DF/Bike1805.csv'
DF5 = pd.read_csv(csv5)
print('File 5 Ready')

csv6  =  'Processed_DF/Bike1806.csv'
DF6 = pd.read_csv(csv6)
print('File 6 Ready')

csv7  =  'Processed_DF/Bike1807.csv'
DF7 = pd.read_csv(csv7)
print('File 7 Ready')

csv8  =  'Processed_DF/Bike1808.csv'
DF8 = pd.read_csv(csv8)
print('File 8 Ready')

csv9  =  'Processed_DF/Bike1809.csv'
DF9 = pd.read_csv(csv9)
print('File 9 Ready')

csv10 = 'Processed_DF/Bike1810.csv'
DF10 = pd.read_csv(csv10)
print('File 10 Ready')

csv11 = 'Processed_DF/Bike1811.csv'
DF11 = pd.read_csv(csv11)
print('File 11 Ready')

csv12 = 'Processed_DF/Bike1212.csv'
DF12 = pd.read_csv(csv12)
print('File 12 Ready')

# CleanCSV = [csv1,csv2 ,csv3 ,csv4 ,csv5 ,csv6 ,csv7 ,csv8 ,csv9 ,csv10 ,csv11 , csv12]
CleanDfs = [DF1, DF2, DF3, DF4, DF5, DF6, DF7, DF8, DF9, DF10, DF11, DF12]

finalDF = pd.concat(CleanDfs)

print("Final DF has been created")
print(f"The new DF has {len(finalDF)} rows in it")

finalDF.to_csv("Final2018_Bike.csv")
print("CSV has been saved")

File 1 Ready
File 2 Ready
File 3 Ready
File 4 Ready
File 5 Ready
File 6 Ready
File 7 Ready
File 8 Ready
File 9 Ready
File 10 Ready
File 11 Ready
File 12 Ready
Final DF has been created
The new DF has 17548339 rows in it
CSV has been saved

In [18]:
DF1.head(2)

Empty DataFrame
Columns: []
Index: []

## Individual cleaning steps

In [ ]:
# Convert seconds to minutes

minutes = (data11.tripduration / 60).astype(int)
data11['tripduration_minutes'] = minutes
data11.head(3)

In [ ]:
# Convert gender

conditions = [
    (data11['gender'] == 1),
    (data11['gender'] == 2),
    (data11['gender'] == 0)
]

choices = ['Male', 'Female', 'Unknown']

data11['gender_name'] = np.select(conditions, choices, default = 'uknown')

data11.head(3)

In [ ]:
# Age

age = (2019 - data11['birth year']).astype(int)
data11['Age'] = age
data11.head(3)

In [ ]:
data11.to_csv("bike11_2018.csv")

In [ ]:
data11 = data11.rename(columns = {
    "tripduration_minutes" : "Trip_Duration_Minutes",
    "starttime":"Start_Time",
    "start station id":"Start_Station_ID",
    "start station name":"Start_Station_Name",
    "start station latitude":"Start_Lat",
    "start station longitude":"Start_Long",
    "end station id":"End_Station_ID",
    "end station name":"End_Station_Name",
    "end station latitude":"End_Lat",
    "end station longitude":"End_Long",
    "bikeid":"Bike_ID",
    "usertype":"User_Type",
    "age":"Age",
    "gender_name":"Gender",
    
})

In [ ]:
preFinal_DF = data11[[
    'Trip_Duration_Minutes',
    'Start_Time',
    'Start_Station_ID',
    'Start_Station_Name',
    'Start_Lat',
    'Start_Long',
    'End_Station_ID',
    'End_Station_Name',
    'End_Lat',
    'End_Long',
    'Bike_ID',
    'User_Type',
    'Age',
    'Gender',
]]

In [ ]:
data11.to_csv("Processed_DF/bike11_2018.csv")